html {
  font-family: "Neucha";
  font-family: "Open Sans", sans-serif;
}
body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;  
} 
.wrapper {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;  
  position: relative;
}
.light {
  position: relative;
}
.light::before {
  display: block;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;  
}
.dark {
  background: #42413c;
}
.braun {
  background: #b09a81;
}
.header {
  font-family: "Neucha"; 
  position: relative;  
}
.header-wrapper {
  padding: 100px 0; 
}
.header h1 {
  font-size: 72px;
  line-height: 1.2em;
  margin: 0;  
}
.header img {
  position: absolute;
  right: -270px;
  height: 525px;
  top: 55px;    
}
.header-text {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  color: #2a2626;
  margin-top: 185px;     
}
.header-text-items {
  flex: 1 0 48%;
}     
span {
  color: #fe8a02;
}
.button {
  padding: 12px 24px;
  font-family:"Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.6em;
  color: #fff;
  background: #fe8a02;
  text-decoration: none;
  display: inline-flex;
  margin-top: 20px; 
}
.main-video {
  font-family: "Neucha";
  margin-top: 100px; 
  position: relative;
  text-align: center;
  margin-bottom: -100px;     
}
.main-video h2 {
  font-size: 60px;
  line-height: 1.2em;
  margin-bottom: 30px;
}
.video {
  margin-top: 30px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.wrapper-p {
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
  font-family: "Open Sans", sans-serif;  
  margin-bottom: 0; 
}
.main-items {
  font-family: "Neucha";
  line-height: 1;  
  width: 100%;
}
.main-items-wrapper {
  padding-top: 200px; 
  padding-bottom: 100px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
}
.main-items-h2 {
  font-size: 52px;
  margin: 0;
  color: #fff;
}
.first {
  font-family: "Neucha";
  font-weight: 400;
  line-height: 1;
  font-size: 64px;
  padding-bottom: 40px;
  margin: 0;
  color: #42413c;
}
.main-items-first {
  background: #f5f4f0;
  padding: 24px;
  width: 350px; 
  flex-shrink: 0;
  box-sizing: border-box;
}
.main-items-first-p {
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
  font-family: "Open Sans", sans-serif; 
  margin-bottom: 0; 
}
.main-items-first:first-child {
  background: none;
  padding: 0;
}
h3 {
  font-size: 34px;
  line-height: 1.2em;
  color: #fe8a02;
  margin: 0;
}
.main-items-first a {
  text-decoration: none;
}
.indent {
  padding-top: 100px;
  padding-bottom: 100px; 
}
.main-items-too {
  display: flex;
  gap: 28px; 
}
.main-p,
.main-pp {
  margin-top: 0;
  flex: 1 0 49%;
}
.main-items-too-p {
 /* column-count: 2; 
  column-gap: 28px;*/
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  color: #2a2626;   
}
.main-items-premature p,
.main-items-hyperbolic p {
  color: #fff;
}
.main-items-too-text {
  font-size: 24px;
  line-height: 1.2em;
  font-family: "Neucha";
  margin: 0;
}
.main-items-too-text-too {
  font-size: 34px;
  line-height: 1.2em;
  font-family: "Neucha";
  margin-top: 30px;
}
h2 {
  font-size: 60px;
  line-height: 1.2em;
  font-family: "Neucha";
  font-weight: 400; 
  margin: 0; 
}
.main-items-too-img {
  vertical-align: middle;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 15%));  
}
.main-items-ikea h4,
.main-items-novelty h4,
.main-items-planning h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  padding: 5px 10px;
  background: #b09a81;
  color: #fff;
  margin: 97px 0 20px;
}
 .white {
  color: #fff;
}
 .color {
  color: #fff;
}
.main-items-premature h4,
.main-items-hyperbolic h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  padding: 5px 10px;
  color:#b09a81;
  margin: 97px 0 20px;
  background: #fff;
}  
.footer-wrapper {
  padding: 100px 0 111px;
}
.footer-mail {
  display: flex;
  height: 190px;
  background: #42413c;
  justify-content: space-evenly;
  align-items: center;
}
.footer-mail-br {
  font-size: 34px;
  line-height: 1.2em;
  font-family: "Neucha";
  color: #fff;
  margin: 0;
}
.footer-mail-p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6em; 
  color: #fff; 
  margin-bottom: 0;
}
.footer-mail-a {
  font-size: 12px;
  color: #fff;  
}
.box-mail {
  display: flex;    
}
.box-mail input {
  width: 423px;
  padding: 15px;  
}
.button-mail {
  width: 70px;
  height: 50px;
  background-color: #fe8a02;
  position: relative;
  border: none;
}
.button-mail::before {
  background: url("../images/Vector.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  right: 0;
  bottom: 0; 
  width: 20px;
  height: 20px;
}
.footer-text {
  text-align: center;
  margin-top: 60px;   
}
.footer-text p {
  font-size: 14px;
  line-height: 1.6em;
}
.footer-text a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  color: #1085c5; 
}
.footer-mail-a a {
  color: #fff;
}
  