
html {
  font-family: 'Neucha', cursive;
  font-family: 'Open Sans', sans-serif;
  }
  body{
    width: 1440px;
    margin: 0 auto;
   
  
  }
  .container {
    width: 100%;
    max-width: 1110px;
   /* margin: 0 auto; */
   /* margin-left: 160px;*/
  }
  .header ::before {
   background: url("images\background.png");
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 90%;
  }
  .header {
    max-width: 1110px;
    width: 100%;
   font-family: 'Neucha';
   margin: 100px 0; 
   position: relative;
    

  }
  .header h1 {
    font-size: 72px;
    line-height: 1.2;
    
  }
  .header img {
    position: absolute;
    right: -270px;
    height: 525px;
    bottom: 95px;
    
  }
  .header-text {
    display: flex;
    gap: 30px;
    font-size: 16px;
    line-height: 1.6;
    color: #2A2626;
    margin-top: 181px;
    
  }
 span {
  color: #FE8A02;
}
.header button {
  padding: 12px 24px;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.6em;
  color: #FFFFFF;
  background: #FE8A02;
  position: absolute;
  left: 555px;
  border: none;

}
.main-video {
  max-width: 1110px;
    width: 100%;
   font-family: 'Neucha';
   margin: 100px 0; 
   position: relative;
   text-align: center;
     
}
.main-video h2 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}


